<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      console.log(data);
        var description = data["description"];
        var inventory = data["inventory"];
        var orders = data["orders"]
        var orderString = "Orders: "
        orders.forEach(function(order) {
          orderString += ("Order id: " + order["id"] + "<br>")
          orderString += ("Created at: " + order["created_at"] +"<br>")
        });

        var inventoryText = "<strong>Sold Out</strong>";
        if(inventory  >= 1){
          inventoryText = "<strong>Available</strong>";}

        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + " " + "<br>" + orderString + "</p>";
        $("#product-" + id).html(descriptionText);
    });
  });
});
</script>
